body { 
    background-image: url(images/web2.jpg)  ; 
    background-size:cover;
    background-attachment: fixed;
    background-position: bottom;
}
p{
    border-style:solid; 
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    padding: 10px;
    max-width: 7500px;
}
.skill{
    background-color: #dfedf6;
    padding: 20px;
    color: rgb(15, 12, 12);
    border-radius: 10px;
    width: 200px;

}
.hello{
    text-transform: uppercase;
}